.wrap {
	height: 350px;
	width: 944px;
	position: relative;
	overflow: hidden;
	color: #fff;
	background: #120103;
    border: 8px solid #ffffff;
}

header {
	background: #ffffff;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 900;
	width: 342px;
}

header label {
    width: 342px;
    height: 80px;
	color: #ffffff;
	cursor: pointer;
}

header label:hover {
	background: #2e353b;
}


header label p{
    padding: 7px;
    margin: 0px;
    width: 327px;
    height: 74px;
    overflow:ellipsis;
    overflow: hidden;
    font-family:cursive;
    font-size: 12px;
}

header label p > img{
    width: 80px;
    height: 74px;
    float: left;
    margin-right: 10px;
    border-radius: 15px 15px 15px 15px;
}

header label p > span{
    max-height: 70px;
    width: 242px;
    height: 65px;
    color: #535353;
}

header label p > span:hover{
	font-weight: bold;
    color: #535353;
}

.slide {
	height: 350px;
	width: 602px;
	position: absolute;
	top: 0;
	left: 100%;/*якщо удалить, то картинка просто зміниватиметься без плавного переходу*/
	z-index: 10;
	background-color: #120103;
	background-position: 50% 50%;
	background-size: cover;
	transition: left 0s .75s;
}

.slide-one {
	background-image: url('../img/1.jpg');
}

.slide-two {
	background-image: url('../img/2.jpg');
}
.slide-three {
	background-image: url('../img/3.jpg');
}
.slide-four {
	background-image: url('../img/4.jpg');
}


[id^='slide']:checked + .slide {
	left: 0;
	z-index: 100;
	transition: left .65s ease-out;
}



.slide_text{ 
    margin-top: 260px;
    background-color: #ffffff;
    opacity: 0.6;
    width: 602px;
    height: 90px;
    color: #020202;
}

.slide_text h3{
    margin: 0px;
    padding-top: 10px;
    margin-left: 20px;
    margin-right: 8px;
}

.slide_text p{
    margin: 0px;
    padding: 0px;
    margin-left: 20px;
    margin-right: 8px;
    font-size: 12px;
    overflow:ellipsis;
    overflow: hidden;
    font-family: sans-serif;
    font-weight: bold;
}







