@charset "utf-8";
/* CSS Document */



body, p, ul, h1, li, a, div{
	margin: 0px;
	padding: 0px;
}

body{
    background-color: #e7e7e7;
}


.header{
    padding-left: 10%;
    padding-right: 10%;
    height: 180px;
    width: 80%;
}

.header_left{
    width: 30%;
    height: 180px;
    float: left;
}

.header_left > img{
    margin-top: 10%;
    margin-right: 3%;
    float: left;
}

.header_left h1{
    margin-top: 10%;
}

.header_left h1 > span{
    color: #acd000;
}


.header_right{
    width: 60%;
    height: 180px;
    float: right;

}


.header_right ul li{
    float: left;
    list-style-type: none;
}

.header_right_top_menu{
    height: 90px;
}


.header_right_top_menu ul{
    float: right;
}



.header_right_top_menu ul > li{
    margin-top: 50px;
    margin-left: 35px;
}


.header_right_top_menu ul > li:first-of-type{
    margin-left: 0px;
}




.header_right_top_menu ul > li > a{
    text-transform: uppercase;
    color: #525252;
    text-decoration: none;
}


.header_right_top_menu ul > li > a:hover{
    color: #202020;
}

.header_right_botton_menu ul{
    float: right;
    margin-top: 15px;
}


.header_right_botton_menu ul > li{
    margin-left: 35px;
}

.header_right_botton_menu ul > li > a{
    padding-top: 15px;
    font-size: 14px;
    color: #898989;
    text-decoration: none;
}


.header_right_botton_menu ul > li > a:hover{
    color: #202020;
}

.header_right_botton_menu ul > li > a > span{
    font-size: 12px;
    font-weight: 700;
    margin-right: 5px;
}













.content{
    min-height: 680px;
    border-bottom: 1px solid #202020;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 50px;
}



.content_left{
    width: 75%;
    float: left;
}

.content_left img{
    width: 97%;
    height: 550px;
    border: 5px solid #8d8d8d;
}


.content_left_text{
    border-left: green solid 3px;
    padding-left: 10px;
}


.content_left_text h3,p{
    color: #8d8d8d;
}


.content_right{
    padding-top: 4%;
    padding-left: 7%;
    padding-right: 7%;
    float: right;
    width: 10%;
}


.content_right > img{
    margin-left: 12px;
}


.slider_hidden_height{
    height: 265px;
    overflow-y: hidden;
}

.slider{
    outline: red solid 1px;
    width: auto;
    height: 365px;
    overflow: hidden;
}


.footer{
    height: 70px;
}

.footer > p{
    font-size: 24px;
    margin-top: 35px;
    color: #8aa701;
    text-align: center;
}